# This file is used to pin dependencies when running tests on travis/appveyor
# -e . # comment on this is OK, because travis has already git cloned the CI_Demo from github
nose==1.3.7
nose-ignore-docstring==0.2
nose-timer==0.7.2
parameterized==0.6.1